label {
  background-color: black;
  color: red;
  /*text-align: center; */
  font-family: sans; 
  font-size: 20px;
  height: 20px; 
}

.vl {
  border-left: 1px solid red;
  height: 20px;
}

span.property-name {
  background-color: black;
  color: red;
  /*text-align: center; */
  font-family: sans; 
  font-size: 20px;
  height: 30px; 
  /*border-radius: 15px; */
  /*border: 2px purple ridge; */
   display: inline-block; */
  /*height: 30px; */
  /*line-height: 2em; */
}

.cr {
    height: 50px;
    color: red;
    background-color: black;
}

div.slider-fg {
    background-color: black;
    color: black;
}

.slider-fg {
    background-color: black;
    color: black;
}

button {
    color: black;
    height: 52px;
    width: 70px;
    background-color: #800000;
}

input {
    color: black;
    background-color: #800000;
    height: 30px;
}

.switch-toggle {
   float: left;
   background: #242729;
}
.switch-toggle input {
  position: absolute;
  opacity: 0;
}
.switch-toggle input + label {
  padding: 7px;
  float:left;
  color: #fff;
  cursor: pointer;
  color: red;
}
.switch-toggle input:checked + label {
  background: #800000;
}

.switch-field {
  border-width:1px;
  border-style:solid;
  border-color:red;
}

.switch-candy {
  border-width:1px;
  border-style:solid;
  border-color:red;
  height: 32px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


