        .graph .axis {
            stroke-width: 1;
        }

        .graph .axis .tick line {
            stroke: red;
        }

        .graph .axis .tick text {
            fill: red;
            font-size: 0.7em;
        }

        .graph .axis .domain {
            fill: red;
            stroke: red;
        }

        .graph .group {
            fill: none;
            stroke: red;
            stroke-width: 1.5;
        }

.axisRed line{
  stroke: red;
}

.axisRed path{
  stroke: red;
}

.axisRed text{
  fill: red;
} 
