body {
  text-align : center;
}
canvas {
  display : block;
  width : 768px;
  height : 768px;
  margin : auto;
  padding : 0;
  border : none;
  background-color : gray;
}
button {
  display : block;
  font-size : inherit;
  margin : auto;
  padding : 0.6em;
}
